@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
.content{
    width: 100%;
    height: 90%;
}
.bloco-stars{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 10%;
}
.bloco-stars i{
    font-size: 100px;
    color: #FFE13F;    
    color:yellow;
    text-shadow: 0px 1px 2px #000;
}
.bloco-stars h2{
    font-family: 'Montserrat', sans-serif;
    
}
.bloco-stars b{
    font-family: 'Open Sans Condensed', sans-serif;
}

