.infoBox { 
    background-color: #FFF; 
    width: 300px; 
    height: 170px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    border: 3px solid #3fa7d8; 
    border-radius: 3px; 
    margin-top: 10px 
}
.infoBox p{ 
    padding: 0 15px;
}
h3{
    margin-left: 2px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif; 
    transition: all 0.5s;
    text-align: center;
    background-color: #3fa7d8;
    width: 99%;
}
h3:hover{
    transition: all 0.5s;
}
a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}
a:hover{
    color: #FFF;
    transition: all 0.5s;
}
.infoBox:before { 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #3fa7d8; 
    top: -10px; content: ""; 
    height: 0; 
    position: absolute; 
    width: 0; 
    left: 138px ;
}